.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }


  #searchdiv{
    // border: 2px solid red;
    width: 100%;
    margin-top:0.1%;
    margin-left: 7%;
    background: #ddd;
    display: inline-flex;
    justify-content: space-between;
    height: 45px;
    border-radius: 15px;
  }

  

  #searchbar{
    width:98%;
    height: 80%;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color:#ddd ;
    // border: 2px solid red;
  
    
    
  }
  #searchbar::placeholder{
    font-size: large;
  
    // padding-left: 60px;

  }

  #keep{
    margin-top: 1%;
    color: rgb(99, 93, 93);
    text-decoration: none;
    font-weight:bolder;
    
  }

  #searchicon{
    position: absolute;
    margin-top: 0.5%;
    margin-left: 1%;

  }

  #baricon{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  #baricon1 span{
    padding-right: 30px;
  }
  #baricon2 span{
    padding-left: 20px;
    
  }

  mat-sidenav {
    width: 20%;
  }
  .material-symbols-rounded{
    padding-right: 12%;
  }
  .adjust{
    position: relative;
  }
  .adjustname{
    position: absolute;
  }


  ::ng-deep .mat-mdc-list-item-interactive::before{
    background-color: orange;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

  
   


  }

  ::ng-deep .mat-mdc-list-item-interactive{

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
    
   
  }

  ::ng-deep .mat-mdc-list-item-interactive:focus{
  opacity: 0.6;
  background-color: orange;

  }



  ::ng-deep .mat-mdc-list-item-interactive:not(:focus):not(.mdc-list-item--disabled):hover::before {
    opacity: .04;
    background-color: rgb(100, 97, 93);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

::ng-deep .mat-drawer{

  border: none;
  background-color:#fafafa;
}
