<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="white" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a href=""><img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt=""></a>
    <a id="keep" href="">
      <h1 class="example-app-name">Keep</h1>
    </a>

    <div id="searchdiv">
      <div style="width: 5%; height: 32px;">
        <span matPrefix id="searchicon" class="material-symbols-outlined">search &nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div style="width: 95%; height: 32px;">
        <input id="searchbar" type="text" placeholder="Search" />
      </div>
    </div>



    <div id="baricon">
      <div id="baricon1">
        <span class="material-symbols-outlined">
          refresh
        </span>
        <span class="material-symbols-outlined">
          view_agenda
        </span>
        <span class="material-symbols-rounded">
          settings
        </span>
      </div>
      <div id="baricon2">
        <span class="material-symbols-rounded">
          apps
        </span>
        <span class="material-symbols-rounded">
          account_circle
        </span>
      </div>

    </div>
  </mat-toolbar>

  <!-- <mat-sidenav>
  <mat-nav -list>
    <a mat-list-item routerLink="."> <span class="material-symbols-rounded">lightbulb</span></a>
    <a mat-list-item routerLink="."><span class="material-symbols-rounded">
      notifications
      </span></a>
    <a mat-list-item routerLink="."><span class="material-symbols-rounded">
      edit
      </span></a>
    <a mat-list-item routerLink=".">
      <span class="material-symbols-rounded">
        archive
        </span></a>
    <a mat-list-item routerLink="."><span class="material-symbols-rounded">
      delete
      </span></a>
  </mat-nav-list>
</mat-sidenav> -->




  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">




    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>

        <a mat-list-item routerLink="/home/createnote" id="adjusticon">
          <span class="adjust" class="material-symbols-rounded">lightbulb</span>
          <span class="adjustname">Notes</span>
        </a>


        <a mat-list-item routerLink=".">
          <span class="adjust" class="material-symbols-rounded">notifications</span>
          <span class="adjustname">Reminders</span>
        </a>
        <a mat-list-item routerLink="."><span class="material-symbols-rounded adjust">
            edit
          </span>

          <span class="adjustname"> Edit labels</span> </a>
        <a mat-list-item routerLink="/home/archive">
          <span class="material-symbols-rounded adjust">
            archive
          </span>
          <span class="adjustname"> Archive</span>
        </a>
        <a mat-list-item routerLink="/home/bin"><span class="material-symbols-rounded adjust">
            delete
          </span>
          <span class="adjustname">Bin</span> </a>
      </mat-nav-list>
      <div>
        Open-source licences
      </div>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->