<!-- <p><input type="text" id="username" name="username" #username></p>
<h1> {{username}}</h1>

<button type="button" (click)="(username.value)">Clickme</button> -->
<!--
<br>
<h1>Angular Read input value</h1><br>
<p><input type="text" id="username" name="username" #username></p>
<h1> {{myusername}}</h1>
<button type="button" (click)="clickme()">Clickme</button> -->


<div>
    Common Name:
    <input name="commonName" value="">
    <p>
      <button (click)="assignName(commonName)">Submit</button>
      </p>
  </div>