<div class="a">
  <div [style.background-color]="note.color" class="container" *ngFor="let note of childArray">
 <div id="displaynotecontent">
  <div>
    <div class="content1" (click)="updateNote(note)">{{ note.title }}</div>
  
    <div class="content2" (click)="updateNote(note)">{{ note.description }}</div>

    <div>
      {{note.reminder | date: 'medium'}}
    </div>

  </div>
  <div>
    <span class="material-symbols-rounded icon">
      push_pin
    </span>
  </div>  
 </div>
    <div class="icon">
      <app-icon [isIcon]="note" (messageEvent)="recieveMessageFromTrash($event)"> </app-icon>
    </div>
  </div>
</div>