
<div class="icondesign">

    <div *ngFor="let note of dateAndTime ">

        <span [matMenuTriggerFor]="rem" class="material-symbols-rounded">
            add_alert
        </span>

            <mat-menu #rem="matMenu">
              Reminder:
              
              <button mat-menu-item  >Later Today  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{note.laterToday}} </button>
              <button mat-menu-item >Tomorrow  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;{{note.Tomorrow}}</button>
              <button mat-menu-item >Next Week    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span>{{note.nextWeek}}</span></button>
              <button mat-menu-item>
                
                Select date and time
                   <!-- <mat-label>Choose a date</mat-label>  -->
                  <input style="display: none;" [(ngModel)]="date" matInput [matDatepicker]="datepicker">
                   <!-- <mat-hint>MM/DD/YYYY</mat-hint>  -->
                  <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply (click)="setReminder()">Apply</button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                
              </button>
              <button mat-menu-item>Select place</button>
            </mat-menu>
        
    </div>

    <span class="material-symbols-rounded">
        person_add
    </span>
    <span [matMenuTriggerFor]="menuu" class="material-symbols-rounded">
        palette
    </span>
    <div>
    
        <mat-menu #menuu="matMenu" >
            <div class="box">
                <div *ngFor="let item of colors">
                    <button mat-mini-fab [style.background]="item?.code"
                        (click)="colorPalete(item.code)"></button>
                </div>
            </div>
         
        </mat-menu>
    </div>
    <span class="material-symbols-rounded">
        panorama
    </span>
    <span (click)="archiveNote()" class="material-symbols-rounded">
        archive
    </span>
    <span [matMenuTriggerFor]="menu" class="material-symbols-rounded">
        more_vert
    </span>
    <div>
    
        <mat-menu #menu="matMenu" >
          <button mat-menu-item (click)="trashNote()">Delete note</button>
          <button mat-menu-item>Add label</button>
          <button mat-menu-item>Add drawing</button>
          <button mat-menu-item>Make a copy</button>
          <button mat-menu-item>Show tick boxes</button>
        </mat-menu>
    </div>
</div>

