

.icondesign {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    justify-content: space-between;
}
.box {
    display:flex;
    flex-direction: row ;
    flex-wrap: wrap;

    gap: 5px;
    padding: 10px;
  }
  .colorbutton button{
    // display:inline-block;
    // flex-flow: row wrap;
    padding-left:50px ;

  }

 